<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.fmjmf"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:maxSdkVersion="24"
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <permission
        android:name="fr.fmjmf.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

  	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="fr.fmjmf.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="fr.fmjmf.commons.MobileApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_cloud_phone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FromCloudActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- created by ADT ext plugin at 2016-04-30 11:00:13 -->
        <activity
            android:name=".PublierContactActivity"
            android:parentActivityName=".FromCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AfficheBDContactActivity"
            android:parentActivityName=".PublierContactActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="fr.fmjmf" />
            </intent-filter>
        </receiver>

        <service android:name="fr.fmjmf.GCMIntentService" />
        <service android:name="sync.persistent.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="sync.persistent.StubProvider"
            android:authorities="fmjmf.fr"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name="sync.persistent.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>